@import "tailwindcss";



@font-face {
  font-family: 'han';
  src: url('/fonts/blackHans/BlackHanSans-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'robo-reg';
  src: url('/fonts/static/Roboto-Regular.ttf');
  font-display: swap;
}

@theme{
   --color-light: #EBEAE5;
   --color-dark : #000;
   --font-han : 'han';
   --font-robo-reg : 'robo-reg';
   --color-primary: '#6A8378';
}




body{
  background: black;
}

html{ scroll-behavior: auto !important; }






 