@import "tailwindcss";

@font-face {
  font-family: 'han';
  src: url('./fonts/blackHans/BlackHanSans-Regular.ttf');
}

@font-face {
  font-family: 'robo-reg';
  src: url('./fonts/static/Roboto-Regular.ttf');
}

@theme{
   --color-light: #EBEAE5;
   --color-dark : #000;
   --font-han : 'han';
   --font-robo-reg : 'robo-reg';
   --color-primary: '#6A8378';
}




 